body {
    font: normal, 10px Arial;
    background-color: bisque;
}

#helloWorldMsg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
#introduction {
    margin-top: 0;
    display: flex;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 200px;
}

#biografyTitle {
    margin-top: 0;
    display: flex;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 1000px;
    
}

#myBiografy {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    margin-right: 25px;
    margin-left: 23cm;
    margin-top: -50px;
    font-size: larger;
}

#gustavoDanielsIntroduction {
    display: flex;
    height: fit-content;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    margin-top: 30px;
    margin-right: 900px;
    text-align: center;   
}

#Cpp {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 120px;
    margin-right: 10px;
    font-size: xx-large;
}

#blueBlock {
    background-color: cornflowerblue;
    padding: 1%;
    border-radius: 15px;
    margin-right: 33cm;
    margin-left: 1cm;
}

#cppMainCode {
    margin-left: 22px;
}

#Python {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 100px;
    font-size: xx-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#pythonCodeContainer {
    padding: 1%;
    border-radius: 15px;
    background-color: gray;
    margin-right: 33cm;
    margin-left: 1cm;
}

#pythonMainCode {
    display: flex;
    justify-content: center;
}
